html {
  background-color: #fafaf9;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0 5%;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}


/* estilos de la barra de navegación*/

.hamburger {
  padding-right: 20px;
  margin-top: 5%;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links {
  top: 5rem;
  left: 48px;
  background-color: #78716c;
  display: none;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #78716c
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #f5f5f4;
}

.expanded {
  display: unset;
}



@media screen and (min-width: 636px) {
  .nav-links {
    padding-left: 2em;
    display: block;
    position: static;
    width: 100%;
    background: none;
    border-bottom: 1px solid black;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px;
    color: #0c0a09
  }

  .hamburger {
    display: none;
  }

  #themeToggle{
    float: right;
    margin: 10px;
    padding-right: 2em;
    background-color: transparent;
    border: none;
  }

}

html.dark {
  background-color: #0f1524;
  color: #F7F8F9;
}

.dark .nav-links {
  border-bottom: 1px solid #F7F8F9;
}

.dark .nav-links a {
  color: #F7F8F9;
}