---
import { Image } from "astro:assets";
import Gitimg from "../assets/social/github.svg"

const { platform, username } = Astro.props
---


<a href={`https://www.${platform}.com/${username}`}> <Image src={Gitimg} alt="Icono de la red solcial ${platform}." loading="lazy" width={30} height={30}/> </a>

